*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 15px auto;
    height: 700px;
    width: 700px;
    border: 1px solid black;
}

.main{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.outer{
    display: flex;
    justify-content:space-between;
}

.outer1>:nth-child(2),.outer2>:nth-child(odd),
.outer3>:nth-child(2){
    border-radius: 50%;
}

.outer2 div:nth-child(2){
    visibility: hidden;
}

.outer3{
    display: flex;
}

.inner{
    height: 100px;
    width: 100px;
    justify-content:space-between;
    border: 1px solid black;
}
