*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    margin-bottom: 150px;
    align-items: center;
    justify-content: center;
}

.resultbox{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
